/* Reeeeeset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset css */

body {
	font-family: sans-serif;
  max-width: 1280px;
}

a {
	text-decoration: none;
	color: #000;
}

a:visited {
	color: #000;
}

.main-back:hover {
  text-decoration: none;
}

.sticky-cont {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
  width: 100%;
}

.nav > a {
}

.nav > a:hover {
	color: maroon;
}

.whpk-logo {
	height: 125px;
 	width: 125px;
 	padding: 20px 20px 20px 20px;
}

.masthead {
 	padding: 20px 20px 20px 20px;
  margin: auto 0 auto 0;
  position: absolute;
  top: 12px;
  left: 105px;
}

.station-info {
  	font-size: 32px;
  	padding-bottom: 10px;
}

.slogan-info {
  	font-size: 20px;
}

.listen {
  position: absolute;
  height: 50px;
  width: 160px;
  top: 40px;
  right: 60px;
  transition: all .2s ease-in-out;
}

//https://paulund.co.uk/create-pulse-effect-with-css3-animation

.pulse {
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: blue;
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1.3); }
  40% { transform: scale(1.1); }
  50% { transform: scale(1.5); }
  60% { transform: scale(1.2); }
  70% { transform: scale(1.1); }
  80% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

#listen-item {
  display: inline-block;
  position: absolute;
  font-size: 30px;
  top: 15px;
}

#mega {
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 50px;
  right: 0;
}

.listen:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.navbar, .footer, .topbar {
	display: inline-flex;
  flex-shrink: 0;
	flex-wrap: wrap;
	align-content: space-around;
	width: 100%;
}

.navbar {
	border-top: 1px dashed #000;
	border-bottom: 1px dashed #000;
	padding: 0 20 0 20;
}

.nav {
	flex-basis: 125px;
	flex-grow: 1;
	flex-shrink: 1;
	font-size: 25px;
	padding: 10 10 10 10;
}

.nav > a {
	padding: 5 5 5 5;
}

.main {
  padding-top: 195px;
}

.b-text{
  padding: 20px;
}

p {
  padding-bottom: 20px;
}

.test-img {
  height: 400px !important;
  width: 100%;
}

.display-cont {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  opacity: 0.5;
}

.video-cont video {
  min-width: 100%; 
  min-height: 100%;

  width: auto;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

#myCarousel {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

.disp-text {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: scroll;
  font-size: 15px;
  padding: 0 0 20px 20px;	
}

.left.carousel-control, .right.carousel-control {
  background: inherit;
}

.midrule {
  width: 100% !important;
  padding-top: 30px;
}

.mrule {
  padding-bottom: 30px;
  margin: 0px auto 0px 0px;
  border-top: 1px dashed #000;
  width: 80%;
}

.foot {
	flex-direction: column;
}

.foot {
	padding: 10px;
}

.footer > div {
	width: 50%;
	display: inline-block;
}

.bot-pic {
 	height: 200px;
  	width: 175px;
  	padding: 0px 20px 20px 20px;
  	float: right;
}